.questionCard{
  width: 100%;
  overflow: hidden;
  margin-bottom: 3rem;
  border-radius: 1rem;
}

.textBox {
  width: 70%;
  padding-top: 3rem;
}

.title{
  font-size: 1.6rem;
}

.container {
  background: var(--color-primary);
  min-height: 15rem;
  color:var(--color-text-light);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.randomButton {
  margin: 1rem;
  border-radius: 1rem;
  background: rgba(0,0,0,0.3);
  color:var(--color-text-light);
  padding: 0.5rem;
}