.container {
  width: 100%;
  height: 60px;
  background: rgb(0, 0, 0);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.btn {
  border: 1px solid white;
  color: white;
  padding: 10px;
  font-size: large;
  width: 70px;
}

.btn:active {
  background: rgb(255, 208, 54);
}